@using FinanceTracker.Models.Enums
@using FinanceTracker.ViewModel
@model List<UserViewModel>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model)
    {
        
    <tr>
        <form asp-controller="UserManagement" asp-action="Edit">
            <td><input class="form-control border-0 border-bottom" type="text" name="UserName" value=@user.UserName></td>
            <td><input class="form-control border-0 border-bottom" type="email" name="Email" value=@user.Email></td>
            <td><input class="form-control border-0 border-bottom" type="text" name="Password" value=@user.Password></td>
            <td><input class="form-control border-0 border-bottom" type="text" name="FirstName" value=@user.FirstName></td>
            <td><input class="form-control border-0 border-bottom" type="text" name="LastName" value=@user.LastName></td>
            
            <td>

                <select name="Role" class="form-control border-0 border-bottom">
                        @foreach (string roleName in Enum.GetNames(typeof(Role)))
                        {
                            if (roleName == user.Role.ToString())
                            {
                            <option selected value="@roleName">@roleName</option>
                            }
                            else
                            {
                            <option value="@roleName">@roleName</option>
                            }
                        }
                
            </select>
            </td>
        <td><input id="UserManagementSubmit" class="btn btn-warning" type="submit" value="Confirm Change"></td>
            <td><input type="hidden" name="CustomerId" value = @user.CustomerId /></td>

        </form>
    </tr>
    }
    
    <!-- Repeat the form for each row as needed -->
</table>

