@using FinanceTracker.Models.Enums
@using FinanceTracker.ViewModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}



@model HomeIndexViewModel


@{
    var currentMonthLeftDays = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month) - DateTime.Now.Day;
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @Model.UserName
    </h1>
    var adminString = Enum.GetName(typeof(Role), Role.admin)!;
    var userString = Enum.GetName(typeof(Role), Role.user)!;
    @if (User.FindFirst(ClaimTypes.Role).Value == adminString || User.FindFirst(ClaimTypes.Role).Value == userString)
    {
        <div class="row">
            <div class="col-8">
                <div class="row justify-content-center text-center">
                    <h1>Your cash flow in the past 30 days: </h1>
                    <div class="col">

                        <canvas id="barChart"></canvas>
                    </div>

                </div>

                <div class="row justify-content-center text-center">
                    <h1>Your cash flow in the past 12 months: </h1>
                    <div class="col">
                        <canvas id="comboChart"></canvas>
                    </div>
                </div>

            </div>

            <div class="col-4" >

                <ul class="list-group list-group-flush">
                    <li class="list-group-item display-5">OVERVIEW</li>
                    <li class="list-group-item">In the last 30 days</li>
                    <li class="list-group-item">Your savings are<span class="@(Model.Last30DaysSavings>0?"text-primary":"text-danger") fw-bold">@(Model.Last30DaysSavings)€</span></li>
                    @if (Model.SavingGoal != 0)
                    {
                        <li class="list-group-item">Based on your saving goal<span class="text-primary fw-bold">(@(Model.SavingGoal)€)</span></li>
                        <li class="list-group-item">In the rest <span class="text-primary fw-bold">@currentMonthLeftDays</span> days</li>
                        <li class="list-group-item">Your maximum daily expense is <span class="text-danger fw-bold">@(Model.maxDailyExpense)€</span></li>
                        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary">New saving goal</button>
                    }
                    else{

                        <li class="list-group-item">Have not set a saving goal? <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary mx-3">Set a saving goal</button></li>
                        
                        }




                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <form asp-controller="Home" asp-action="SetSavingGoal">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>

                                            </div>
                                           <input type="hidden" name="customerId" value="@(Model.CustomerId)" />
                                           <input type="number" name="amount">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </ul>

                
            </div>
        </div>

    }
    else
    {
      <h1>You are visiting with an visitor account which have no access to the Finance overview, please upgrade your plan</h1>
    }



}
else
{
    <h1>hello, Please log in first</h1>
}






 
<script src="~/js/chart441.js"></script>
<script >


      
    
    const ctx1 = document.getElementById('barChart');

    

    const labels = @Html.Raw(Json.Serialize(Model.ChartsData.DateLabels))
    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Income',
                data: @Html.Raw(Json.Serialize(Model.ChartsData.DailyIncomes)),
                borderColor: "blue",
                backgroundColor: "blue",
            },
            {
                label: 'Expense',
                data: @Html.Raw(Json.Serialize(Model.ChartsData.DailyExpenses)),
                borderColor: "red",
                backgroundColor: "red",
            }
        ]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Financial overview on the past 30 days'
                }
            }
        },
    };
   
    new Chart(ctx1,config)

    const ctx2 = document.getElementById('comboChart');
 
    const comboLabels = @Html.Raw(Json.Serialize(Model.ChartsData.MonthLabels));
    const comboData = {
        labels: comboLabels,
        datasets: [
            {
                label: 'Incomes',
                data: @Html.Raw(Json.Serialize(Model.ChartsData.MonthIncomes)),
                borderColor: "blue",
                backgroundColor: "blue",
                order: 1
            },
            {
                label: 'Expenses',
                data: @Html.Raw(Json.Serialize(Model.ChartsData.MonthExpenses)),
                borderColor: "red",
                backgroundColor: "red",
                
                order: 1
            },
            {
                label: 'Savings',
                data: @Html.Raw(Json.Serialize(Model.ChartsData.MonthSavings)),
                borderColor: "green",
                backgroundColor: "green",
                type: 'line',
                order: 0
            },
        ]
    };

    const config2 = {
        type: 'bar',
        data: comboData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Financial overview on the last 12 months'
                }
            }
        },
    };

    new Chart(ctx2,config2)
    
</script>

<script>

    const editBtns = document.getElementById("savingGoalBtn")
    function handleClick(e) {



        fetchEditForm(transactionId).then((data) => {
            document.getElementById("savingGoalFormContainer").innerHTML = data
            // Show the modal after the fetch request completes and the modal's HTML has been added to the DOM
            $(`#editModal${transactionId}`).modal('show');
        })
    }

    async function fetchEditForm() {
        const response = await fetch("/Home/SetSavingGoal/@Html.Raw(Json.Serialize(Model.CustomerId))", {
            method: "POST",
            headers: { 'Content-Type': 'application/json', },
            


        })

        const innerHTML = await response.text()
        console.log("innerHTML", innerHTML)
        return innerHTML


    }
</script>


