@{
    ViewData["Title"] = "Home Page";
}
@model Customer

@using System.Security.Claims
@using FinanceTracker.Models.Enums



@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @User.FindFirst("userName").Value
    </h1>
    var adminString = Enum.GetName(typeof(Role), Role.admin)!;
    @if (User.FindFirst(ClaimTypes.Role).Value == adminString)
    {
        <h1>the fancy chart is here</h1>
    }

    @foreach (var expense in Model.Expenses)
    {
        <h1>@(expense.amount) at @(expense.TimeStamp)</h1>
    }

    @foreach (var Income in Model.Incomes)
    {
        <h1>@(Income.amount) at @(Income.TimeStamp)</h1>
    }

}
else
{
    <h1>hello, Please log in first</h1>
}