@using System.Security.Claims
@using FinanceTracker.Models.Enums
@using FinanceTracker.ViewModel
@{
    ViewData["Title"] = "Finance Manager";
}

@model FinanceTrackerIndexViewModel




@if (User.Identity.IsAuthenticated)
{
    
    var adminString = Enum.GetName(typeof(Role), Role.admin)!;
    

    //@foreach (var expense in Model.Expenses)
    //{
    //    <h1>@(expense.amount) at @(expense.TimeStamp)</h1>
    //}
    //
    //@foreach (var Income in Model.Incomes)
    //{
    //    <h1>@(Income.amount) at @(Income.TimeStamp)</h1>
    //} 
    <p class="display-1">@(User.FindFirst("userName").Value)'s recent cash flow</p>

    <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        New transaction
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    @*------------STARTS: Create-form----------------*@

                    <form asp-controller="FinanceManager" asp-action="Create" method="post">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group ">

                                    <label asp-for="transactionCreateForm.amount">Amount:</label>
                                    <input asp-for="transactionCreateForm.amount" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="transactionCreateForm.description">Description</label>
                                    <textarea asp-for="transactionCreateForm.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                            <label >Choose a category</label>

                            <select class="form-control"asp-for="transactionCreateForm.CategoryId" asp-items="Model.transactionCreateForm.selectListItems">
                           
                            </select>
                            <label asp-for="transactionCreateForm.TimeStamp">Time</label>

                            <input asp-for="transactionCreateForm.TimeStamp" />

                        </div>
                        <button type="submit" class="btn btn-primary">Create Transaction</button>
                    </form>

                    @*------------END: Create-form----------------*@

                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
            </div>
        </div>
    </div>
    <div class="container-lg row justify-content-around ">

        <div class="col-10">
            @*<button type="button" id="ModalToggler" class="btn btn-primary">New Transaction</button>*@
            <p class="display-2">Recent Transactions</p>
            <ul class="list-group">

                @foreach (TransactionViewModel transaction in Model.transactionListItems)
                {
                    <li class="list-group-item @(transaction.Type == "Income"?"list-group-item-primary":"list-group-item-warning") d-flex justify-content-around">
                        <p class="w-75 m-auto">@(transaction.Type.ToUpper()): @(transaction.Amount)€ at @(transaction.TimeStamp) for @(transaction.Category)</p>
                        <div><span class="mx-1"><button id="editBtn" data-id=@(transaction.Id) data-type=@(transaction.Type) class="btn btn-outline-primary">Edit</button></span><span class="mx-1"><button class="btn btn-outline-danger">Delete</button></span></div>
                    </li>
                    <div id="editContainer"></div>
                    
                }



                
            </ul>
    </div>
 
    </div>

}
else
{
    <h1>hello, Please log in first</h1>
}



@section Scripts{
    <script src="~/js/EditFormToggle.js"></script>
    <script src="~/js/AddTransactionModal.js"></script>

};